.stays {
  padding-top: 13rem;

  &__cards {
    display: grid;
  }
}

@media screen and (min-width: 756px) {
  .stays__cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .stays__cards {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
