.locations {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 1.5rem;
  margin: 2rem 1.6875rem;

  font-family: var(--search-font);
  font-size: var(--normal-font-size);

  &__button {
    color: #4f4f4f;

    & i {
      font-size: 1.5rem;
      vertical-align: middle;
      padding-right: 0.625rem;
    }
  }
}
