/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1248px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
